body {
    font-family: roboto;
    margin: 0 auto ;
    margin: 0;
    padding: 0;
  }
*{
  box-sizing: border-box;
  }
li {
    list-style: none;
  }
  
  .header-title {
    height: 98px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 10;
  }
  
  .header-left {
    float: left;
    padding: 20px 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #2A75E6;
  }
  .header-right a{
    color: #FFFFFF;
  }
  .header-right {
    float: right;
    padding-right: 30px;
  }
  
  .header-right li {
    font-size: 18px;
    float: left;
    padding: 25px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
  }
  .btn-primary{
      font-size: 78px;
      width: 80px;
  }
  
  .header-txt {
    padding-top: 158px;
    padding-bottom: 167px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .hero-img {
    background-image: url(img/hero.jpeg);
    background-size: cover;
    text-align: center;
    height: 648px;

  }
  .btn-started {
    margin-top: 70px;
    width: 421px;
    height: 102px;
    font-size: 36px;
    color:white;
    line-height: 42px;
    background-color: orangered;
    border-radius: 5px;
    display: inline;
    border: none;
  }
  .btn-started:active{
    box-shadow: none;
    background-color: rgb(52, 80, 79);
    position: relative;
    top: 5px;
  }
  .btn-started:hover{
    background-color:rgb(209, 74, 40);
  }

  .hero-info {
    text-align: center;
    font-size: 36px;
    width: 954px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 150px ;
    position: absolute;
    top:580px;
    left:60px;
    background-color: #FFFFFF;

  }
  .col h1{
    font-size: 48px;
  }
  .card{
    float: left;
    margin-top:250px; 
    margin-left: 130px;
    height: 430px;
    background-image: cover;
  }
  .venue-popular{
    width: 100%;
    height: 764px;
    left: 0px;
    top: 646px;
    background: #2A75E6;
  }
  .venue-popular h1{
    position: absolute;
    height: 68px;
    left: 500px;
    top: 750px;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
  }
  .part-img img{
    width: 385px;
  }
  .part-img{
    display: flex;
    justify-content: center;
  }
  .partners{
    font-size: 58px;
    color: #CDCDCD;
    text-align: center;
    margin-top: 47px;
    width: 100%;
  }
  .galery {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 15rem);
    margin-top: 1rem;
    height: 694px;
    width: 100%;
  }
  .img-1{
    grid-column: 1/4;
    width: 100%;
    height: 222px;
    padding: 3px;
  }
  .img-2{
    grid-column: 4/6;
    width: 100%;
    height: 222px;
    padding: 3px;
  }
  .img-3{
    grid-column: 6/10;
    width: 100%;
    padding: 3px;
    height: 222px;
  }
  .img-4{
    grid-column: 10/13;
    padding: 3px;
    height: 222px;
    width: 100%;
  }
  .img-5{
    grid-column: 1/5;
    grid-row: 2/3;
    width: 100%;
    height: 458px;
    padding: 3px;
  }
  .img-6{
    grid-column: 5/8;
    width: 100%;
    padding: 3px;
    height: 222px;
  }
  .img-7{
    grid-column: 8/11;
    width: 100%;
    padding: 3px;
    height: 222px;
  }
  .img-8{
    grid-column: 11/13;
    width: 100%;
    height: 222px;
    padding: 3px;
  }
  .img-9{
    grid-column: 5/7;
    width: 100%;
    height: 222px;
    padding: 3px;
  }
  .img-10{
    grid-column: 7/10;
    width: 100%;
    height: 222px;
    padding: 3px;
  }
  .img-11{
    grid-column: 10/13;
    width: 100%;
    height: 222px;
    padding: 3px;
  }

  .account{
    margin-top: 50px ;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 712px;
  }
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 20px;
    width: 99.91px;
    height: 86.52px;
    box-sizing: border-box;
  
  }
  .register-img{
    height: 712px;
    width: 100%;
  }
  .acc-1{
    background-image:linear-gradient(rgba(42, 117, 230, 0.5),rgba(42, 117, 230, 0.5)), url(img/yunani.jpg);
    background-repeat:no-repeat;
    background-size: 710px 712px; 
  }
  .acc-1 h1{
    position: absolute;
    top: 2800px;
    left: 180px;
    color: #FFFFFF;
    
  }
  .input-txt{
    padding: 10px;
    margin: 20px;
    width: 602.88px;
    height: 71.16px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    color:  #C4C4C4;
  }
  .icon{
    justify-content: space-evenly;
  }
  .fa{
    color:black;
  }
  
  .acc-2 h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    color: #2A75E6;
  }
  .input p{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #C4C4C4;
  }
  .button {
    margin-top: 20px;
    width: 285.94px;
    height: 68.73px;
    background: #2A75E6;
    border-radius: 100px;
    color: white;
  }
  .footer{
    margin-top: 100px;
    width: 100%;
    height: 84px;
    background: #000000;
    color:#FFFFFF;
    
  }
  .foot-txt{
    font-size: 36px;
    line-height: 42px;
    top: 3310px;
    left: 450px;
    position: absolute;
  }
  .foot-txt img{
    width: 49px;
  }